$black-text: #121212;
$dark-pink: #f25287;
$light-pink: #f7d9d9;
$shadow: #0000001a;
$white: #fff;
$sansserif-font: 'Poppins', sans-serif;
$cursive-font: 'Rancho', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $sansserif-font;
}

section {
  padding: 100px 0;
  margin: auto;
}

h3 {
  font-family: $cursive-font;
  color: $dark-pink;
}

p {
  font-family: $sansserif-font;
}

a:hover {
  color: $black-text !important;
}

.icon {
  width: 1rem;
}

.contact-icon {
  width: 1.25rem;
}

.yell-btn {
  background-color: $light-pink;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: $black-text;
  border-radius: 50px 0 50px 0;
  transition-property: background-color,
    border-color, color, fill, stroke, opacity,
    box-shadow, transform;
  transition-duration: 300ms;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transform: translateX(0) translateY(0) scaleX(1)
    scaleY(1);

  &:hover {
    box-shadow: 0px 20px 25px -5px $shadow,
      0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    color: $black-text;
  }

  &:hover,
  &:focus {
    transform: translateX(1) translateY(-1);
    color: $black-text;
  }
}

.cv-btn {
  background-color: $white;
  border: 1px solid $light-pink;
}

.card-shadow {
  box-shadow: 0 4px 20px 0 $shadow;
}

.subtitle {
  color: $dark-pink;
  font-family: $cursive-font;
  font-size: 4rem;
}

// Navbar
yell-navbar {
  header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 16px $shadow;
    z-index: 1000;

    nav {
      background-color: $white;
      font-family: $cursive-font;
      color: $black-text;
      font-size: 28px;
    }
  }
}

// Hero
yell-hero {
  height: 100vh;
  display: flex;
  align-items: center;

  .hero-wrapper {
    .col-6 {
      p {
        font-family: $cursive-font;
        color: $black-text;
        font-size: 3rem;
        text-align: center;
        line-height: 1;
      }

      h1 {
        font-family: $cursive-font;
        color: $black-text;
        font-size: 4rem;
        text-align: center;

        span {
          color: $dark-pink;
          font-size: 5rem;
        }
      }

      .framePict {
        display: flex;
        justify-content: center;

        img {
          width: 400px;
        }
      }
    }
  }
}

// About
yell-about {
  .desc p {
    letter-spacing: 0.3px;
  }

  .abilities {
    position: relative;

    &::before {
      content: url('../public/images/about/dot.png');
      position: absolute;
      left: -50px;
      bottom: 170px;
    }

    .about-card {
      width: 14rem;
      height: 13rem;
    }
  }
}

// Tools
.tools-list li {
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 2.767256498336792px
        2.2138051986694336px 0px #00000000,
      0px 6.650102138519287px 5.32008171081543px
        0px #00000007,
      0px 12.521552085876465px
        10.017241477966309px 0px #00000009,
      0px 22.3363094329834px 17.869047164916992px
        0px #0000000b,
      0px 41.777610778808594px
        33.422088623046875px 0px #0000000d,
      0px 100px 80px 0px #00000012;
    transform: translateY(-8px);
  }
}

// Project
yell-project .row {
  max-width: 1330px;

  .project-card {
    max-width: 750px !important;

    .project-title {
      font-family: $cursive-font;
    }

    .project-description {
      color: #464646;
      background-color: $light-pink;
    }

    .project-link {
      color: $dark-pink;
      position: relative;
    }

    .project-link::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $dark-pink;
      content: '';
      transform: scale(0);
      transition: transform 0.3s
        cubic-bezier(0.11, 0.7, 0, 1);
    }

    .project-link:hover {
      color: $dark-pink;
    }

    .project-link:hover::after {
      transform: scale(1);
    }
  }
}

// Contact
yell-contact {
  max-width: 750px;
}

.social-media {
  margin-top: 60px;

  .social-wrapper a {
    width: 60px;
    height: 60px;
    display: block;
    padding: 12px;
    background-color: $white;
    border: 1px solid $light-pink;
    border-radius: 50%;
    color: $dark-pink;

    &:hover {
      background-color: $light-pink;
      border: none;
      color: $white;
    }

    i {
      display: block;
      font-size: 1.3rem;
      line-height: 1;
    }
  }
}

// Footer
yell-footer {
  padding: 100px 0 0;

  p {
    font-family: 'Rancho', cursive;
    border-top: 1px solid $light-pink;
  }
}

// Responsive Layout
@media (max-width: 768px) {
  .subtitle {
    font-size: 3rem;
  }

  yell-hero {
    .hero-wrapper {
      flex-direction: column-reverse;

      .col-6 {
        width: 100% !important;
        padding-top: 1.5rem;

        h1,
        h2 {
          font-size: 2.5rem;

          span {
            font-size: 3rem;
          }
        }

        .framePict img {
          width: 300px;
        }

        .hero-btn {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  yell-about {
    .about-wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    .desc {
      padding: 0 1rem !important;

      p {
        font-size: 1rem !important;
        margin: 0 1rem;
        text-align: center;
      }
    }

    .abilities::before {
      bottom: -50px;
      left: 0;
    }
  }
}

@media (max-width: 575px) {
  yell-hero .hero-wrapper .col-6 {
    p {
      font-size: 2rem;
    }

    h1 {
      font-size: 2rem;

      span {
        font-size: 2.5rem;
      }
    }
  }

  yell-project .row .project-card {
    max-width: 350px !important;
  }

  .tools-list {
    flex-wrap: wrap;
    justify-content: center !important;

    .tools-img {
      padding: 10px;
    }
  }
}

@media (max-width: 435px) {
  .section {
    padding: 70px 0;
  }

  .yell-btn {
    padding: 0.75rem 1.75rem;
  }

  yell-hero {
    height: 87vh;

    .hero-wrapper .col-6 .framePict img {
      width: 250px;
    }
  }
}

@media (max-width: 375px) {
  .yell-btn {
    font-size: 14px;
  }

  yell-project .row .project-card {
    max-width: 325px !important;
  }
}

@media (max-width: 330px) {
  .yell-btn {
    font-size: 12px;
  }

  yell-project .row .project-card {
    max-width: 280px !important;
  }
}
